.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s;
}

.hello {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assests/images/dias.jpg');
  background-position: center;
  background-size: cover;
  transition: all 5s;
}

.yello {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assests/images/noches.jpg');
  background-position: center;
  background-size: cover;
  transition: all 5s;
}
